.cardPosition {
    position: relative;
    min-height: 100vh;
    padding-top: 132px;
    padding-bottom: 289px;
}

.cardWrapper {
    max-width: 1230px;
    margin: 0 auto;
    display: flex;
    gap: 31px;
    justify-content: space-between;
    align-items: flex-start;


}

.imgCard {
    width: 827px;
    height: 525px;
    border-radius: 16px;
}

.details {
    padding: 30px 42px 30px 19px;
    background: #2B2B2D;
    border-radius: 16px;

}

.detailsTitle {
    font-family: 'CAT Linz';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 29px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #F9F4F1;
    margin-bottom: 16px;
}

.infoPicture {
    display: flex;
    gap: 50px;
}

.infoPicture li {
    max-width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoPicture span {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF9110;
    background: rgba(255, 145, 16, 0.1);
    border-radius: 100px;
    padding: 4px 15px;
    margin-bottom: 18px;
}

.infoPicture p {
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #F9F4F1;
    text-align: center;
}

@media (max-width: 1235px) {
    .cardPosition {
        padding: 110px 30px 269px 30px;

    }

    .cardWrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .imgCard {
        width: 100%;
        height: auto;

    }

    .details {
        width: 100%;
        display: flex;
    }

    .detailsTitle {
        margin-right: auto;
    }
}

@media (max-width: 834px) {
    .cardPosition {
        padding-bottom: 416px;
    }
}
@media(max-width: 636px){
    .cardPosition{
        padding-bottom:690px;
    }
}
@media(max-width: 576px){

    .cardPosition{
        padding-top: 73px;
    }
    .cardWrapper{
        gap:20px
    }
    .details {
        display:block;
        padding: 20px;
    }
    .detailsTitle{
        font-size: 24px;
        line-height: 23px;
        color: #F9F4F1;
    }
    .infoPicture{
       justify-content: space-between;
        gap:0
    }
    .infoPicture li {
        max-width: 98px;
    }
    .infoPicture span {
        margin-bottom: 14px;

    }
}
@media (max-width: 415px) {
    .cardPosition{
        padding:73px 16px 690px 16px;
    }
}
