.login {
    min-height: 100vh;
    background-image: url("./../../assets/backgroundLog.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}

.formContainer {
    width: 600px;
    position: fixed;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
}
.form{
    position: relative;
}

.input {
    width: 100%;
    background: #242424;
    border: 1px solid #3D3D3D;
    border-radius: 75px;
    height: 43px;
    padding: 12px 20px;
    color:  #F9F4F1;
    letter-spacing: 1px;
}

.top {
    margin-bottom: 15px;
}

.bottom {
    margin-bottom: 54px;
}

.input::placeholder {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #7F7F7F;

}

.titleLog {
    font-family: 'CAT Linz';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 29px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #F9F4F1;
    margin-bottom: 25px;
    transition: 0.5s;
}

.btnLogin {
    background-color: #FF9110;
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #2B2B2D;
    padding: 10px 50px;
    border-radius: 75px;
    text-transform: uppercase;
}
.btnLogin:disabled{
    background-color: #f1ad5e;
    color: #535356;
}

.errorMessage{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #F14B53;
    position: absolute;
    top:106px;
    left: 24px;
}

@media (max-width: 1115px) {
    .formContainer {
        transform: translate(-63%, -50%);
        transition: 0.5s;
    }

}

@media (max-width: 759px) {

    .formContainer {
        width: 500px;
        transform: translate(-67%, -50%);
        transition: 0.5s;
    }

}

@media (max-width: 576px) {
    .login{
        padding-top: 141px;
    }
    .errorMessage{
        top:113px;
        text-align: center;
    }

    .formContainer {
        left: 50%;
        transform: translateX(-50%);
        width: 325px;
        position: relative;

    }
    .titleLog {
        text-align: center;
        margin-bottom: 60px;
    }

    .input::placeholder {
        font-size: 16px;
        line-height: 20px;

    }

    .input {
        height: 45px;
        padding: 12px 30px;
    }



    .form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 430px;
    }

    .btnLogin {
        width: 100%;
        font-size: 16px;
        line-height: 20px;
        padding: 16px 0;
        border-radius: 93px;
    }
}