.gallery{
    padding-top: 54px;
    padding-bottom: 276px;
    max-width: 1230px;
    margin: 0 auto;
}
.title{
    font-family: 'CAT Linz';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 29px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 28px;
    color: #F9F4F1;

}
.cardsWrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    border-radius: 15px;
    transition: 0.5s;
    object-fit: cover;
}
@media(max-width: 1235px){
    .cardsWrapper{
       justify-content: space-between;
    }
    .gallery{
        padding:54px  30px 276px 30px;
    }
}
@media(max-width: 1000px){
    .gallery{
        padding:20px 30px 276px 30px;
    }
    .card{
        width:400px;
        height: 263px;
        transition: 0.5s;
    }
}
@media(max-width: 900px){
    .card{
        width:350px;
    }
}
@media (max-width: 834px){
    .gallery{
        padding:20px 30px 406px 30px;
    }
}
@media(max-width: 800px){
    .card{
        width:290px;
    }
    .gallery{
        padding:0 30px 432px 30px;
    }
}

@media(max-width: 680px){
    .card{
        width:250px;
        height: 220px;
    }
    .gallery{
        padding:0 30px 412px 30px;
    }
}
@media(max-width: 636px){
    .gallery{
        padding:0 30px 676px 30px;
    }
}
@media(max-width: 600px){
    .card{
        width:154px;
        height: 122px;

    }
    .cardsWrapper{
        justify-content: center;
    }
   .title{
       font-size: 24px;
       line-height: 23px;
       margin-bottom: 19px;
   }
}
@media (max-width: 415px) {
    .gallery{
        padding:0 16px 676px 16px;
    }
}