
.input {
    width: 100%;
    background: #242424;
    border: 1px solid #3D3D3D;
    border-radius: 75px;
    height: 43px;
    padding: 12px 20px;
}

.top {
    margin-bottom: 15px;
}

.bottom {
    margin-bottom: 54px;
}

.input {
    color: white;
}

.input::placeholder {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #7F7F7F;

}

.btnLogin{
    background-color: #FF9110;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #2B2B2D;
    padding: 10px 50px;
    border-radius: 75px;
    cursor: pointer;
}
